{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

	<div class="row my-5">
        <div class="col-md-8 mx-auto"style="border: 2px solid black;">
            <h2>Submit your news article to The Fake BroadCast</h2>
            <form name="login" action="" method="post" novalidate>
                <div class="form-group">
					<legend>{{title}}</legend> 
                    
                    	{{ wtf.form_field(form.Headlines, class='form-control', placeholder='Write down the headline') }}

                    	{{ wtf.form_field(form.Description, class='form-control', placeholder='Write down the article') }}

                    	{{ wtf.form_field(form.AuthorName, class='form-control', placeholder="Your/Author's name") }}
					
						{{ wtf.form_field(form.NewsCategory, class='form-control', placeholder='select the category') }}

						{{ wtf.form_field(form.Submit, class='btn btn-success') }}
						
				</div>
            </form>
        </div>
    </div>	

{% endblock %}