{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to The Fake BroadCast.</h1>
            <h4>Founded 10 July 2020<sup>TM</sup></h4>

			<div style="text-align:left;">
                <br/><br/>
                <h2>What Is TFB All About?</h2> 
                <br/><br/>
                <p>Fake news websites (also referred to as hoax news websites)[1][2] are Internet websites that deliberately publish fake news—hoaxes, propaganda, and disinformation purporting to be real news—often using social media to drive web traffic and amplify their effect.[3][4][5][6] Unlike news satire, fake news websites deliberately seek to be perceived as legitimate and taken at face value, often for financial or political gain.[7][4] Such sites have promoted political falsehoods in India,[8][9] Germany,[10][11] Indonesia and the Philippines,[12] Sweden, Mexico, [13][14] Myanmar,[15] and the United States.[16][17] Many sites originate in, or are promoted by, Russia,[3][18] North Macedonia,[19][20] Romania,[21] and the United States.[22][23]</p>

            </div>

        </div>
    </div>
{% endblock %}
